.group {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input {
    width: 100%;
    position: relative;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: 2px solid var(--primary-color);
    transition: outline 200ms ease-out;
    padding-left: 10px;
    background-color: transparent;
    color: #000;
    font-size: 20px;
  }
  
  .label {
    position: absolute;
    left: 0;
    margin-left: 5px;
    transition: all 150ms ease-out;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font-family: sans-serif;
    font-size: 1rem;
  }
  
  .input:hover + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-22px);
    background-color: #fff;
  }
  
  .input:hover,
  .input:not(:placeholder-shown) {
    outline-color: #7648ffc7;
    transition: outline 200ms ease-in;
  }
  
  .group span {
    color: #7648ffc7;
    align-self: center;
    bottom: -20px;
    left: 10px;
    position: absolute;
    font-size: 1rem;
  }

@media only screen and (max-width: 1024px) {
  .group span {
      font-size: 1.5rem;
    }
  }

@media only screen and (max-width: 600px) {
  .input {
    width: 90%;

  }

  .group span {
    font-size: 3rem;
  }
}