.user_chat {
    display: flex;
    height: 45px;
    padding-left: 20px;
    cursor: pointer;
    padding-left: 12px;
    padding-top: 8px;
    margin: 10px;
    border-radius: 0.5rem;
    transition: background 100ms ease-in;
}

.user_chat_avatar {
    width: 32px;
    height: 32px;
    background-color: #ccc;
    border-radius: 50%;
}

.user_chat_data {
    margin-left: 10px;
}

.user_chat_data h2 {
    color: #6b7280;
    font-size: 14px;
    font-weight: 600;
}

.user_chat_data h5 {
    color: #6b7280;
    font-weight: 400;
    width: 80%;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user_chat:hover {
    background-color: #eee;
    
}