* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

:root {
  --primary-bg-color: rgb(243 244 246 / 0.4);
  --tw-bg-opacity: 1;
  --user-primary-bg-color: rgb(59 130 246);
  --user-secondary-bg-color: rgb(229 231 235 / var(--tw-bg-opacity));
  --font-inter: "Inter", sans-serif;
  --send-button-bg: #181818
}

body {
  font-family: var(--font-inter), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter), sans-serif;
}