.login {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 20px;
    width: 100%;
    padding: 25px
}

.middle {
    height: 2px;
    width: 100%;
    background-color: var(--primary-color);
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}