

.message {
    background-color: #323232;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    max-width: max-content;
}

.message_user {
    background-color: #323232;
    padding: 8px;
    border-radius: 10px;
    color: #fff;
    max-width: max-content;
    align-self: flex-end;
}

.message_user h2, .message h2 {
    font-size: 1.2rem;
}